@import "bytemd/dist/index.css";
@import "./bytemd.css";

@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /**
   * Progress
   */
  .linear-progress {
    @apply h-1
    bg-[#CDE8DF]
    rounded-full
    mx-1
    overflow-hidden
    origin-top;
  }

  .linear-progress .active-indicator {
    @apply h-[inherit]
    bg-[#096B5A]
    rounded-full
    origin-right
    -translate-x-full;
  }

  /**
    Markdown styles
    */
  .markdown-content {
    @apply text-light-onSurface
          leading-7
          pt-1;
  }

  .markdown-content > :first-child {
    @apply !mt-0;
  }

  .markdown-content :where(h1, h2, h3, h4, h5, h6) {
    @apply text-titleMedium
          font-semibold
          mt-8
          mb-4;
  }

  .markdown-content :where(p, pre, table) {
    @apply my-4;
  }

  .markdown-content :where(strong, span, a) {
    @apply inline;
  }

  .markdown-content :where(ul, ol) {
    list-style: revert;
    @apply my-1
          ps-[18px];
  }

  .markdown-content code {
    @apply inline-block
          text-bodyMedium
          text-light-onSurfaceVariant
          bg-light-surfaceContainerHigh
          rounded-md
          py-[1px]
          px-1.5;
  }

  .markdown-content strong code {
    @apply text-light-onSurface
          font-semibold;
  }

  .markdown-content pre code {
    @apply block
          py-2
          px-3
          overflow-x-auto;
  }

  .markdown-content table {
    @apply bg-light-surfaceContainer
          block
          max-w-max
          overflow-auto
          rounded-lg;
  }

  .markdown-content table th {
    @apply text-titleMedium
          p-4
          text-left
          whitespace-nowrap;
  }

  .markdown-content table td {
    @apply text-bodyMedium
          py-3
          px-4
          border-t-[1px]
          border-solid
          border-light-surfaceContainerHigh;
  }

  .markdown-content a {
    @apply text-light-primary
          underline
          break-words;
  }

  .markdown-content .code-block {
    @apply bg-light-surfaceContainer
          rounded-t-lg
          rounded-b-lg
          mb-0.5
          overflow-hidden;
  }

  .markdown-content .code-block * {
    @apply !bg-inherit;
  }
}
